.devices-wrapper {
  display: flex;
  height: 100%;
  .empty-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #999;
    font-weight: bold;
  }
  .device-list {
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.09);
    .n-list-item {
      border-radius: 10px;
      cursor: pointer;
      padding: 10px 10px;
      transition: background-color 0.3s;
      .device-list-item-prefix {
        .n-avatar__text {
          font-size: 2em;
          font-weight: 500;
          font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
        }
      }
      .device-item-hostname {
        font-size: 24px;
        font-weight: 500;
        max-width: 180px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.33);
      }
      &.active {
        background-color: rgba(#7fe7c4, .52);
        color: #63e2b7;
      }
    }
  }
  .device-detail {
    flex: 3;
    // border: 1px solid skyblue;
    .device-detail-title {
      padding: 10px;
      font-size: 24px;
      font-weight: 500;
    }
    .btns{
      display: flex;
      justify-content: flex-end;
      margin-right: 50px;
      button{
        margin-left: 10px;
      }
    }
    .device-detail-content {
      padding: 20px 40px;
      .n-form-item-label {
        font-size: 18px;
        color: #999;
        &:after {
          content: ':';
        }
      }
      .n-form-item .n-form-item-blank {
        justify-content: flex-end;
        .edit-input{
          width: 200px;
        }
        .device-detail-item-view {
          text-align: right;
          padding: 0 10px;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
}
