.login-status-wrapper {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-status-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login-status-avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #fff;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .login-status-info {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .login-status-nickname {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .login-status-logout {
        font-size: 14px;
        color: #999;
        &-text {
          cursor: pointer;
        }
      }
    }
  }
}
